.signUp__form-signin
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color:  rgba(255, 255, 255, 0.8);
  height: 500px;
  width: 350px;
  justify-content: center;
  border-radius: 20px;
  color: darkslategray;
  z-index: 10;
}

.signUp__form-inputs
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUp__form-inputs > input
{
  padding: 5px 0px;
  margin: 12px 0px;

}

.signUp__form-holder
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-size: cover;
}

.signUp__form-button
{
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

button:hover
{
  cursor: pointer;
}

.signUp__form-errors
{
  color: orangered;
  text-align: center;
  display: flex;
  flex-direction: column;
}
