.explore-page
{
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 20px;
}


.scroll__up
{
  color: green;
  font-size: 30px;
  text-decoration: none;
  background-color: whitesmoke;
  position: relative;
  left: 20%;
}




.explore-page--header_container
{
  display: flex;
  justify-content: center;
  height: 280px;
  /* width: 50%; */
}

.explore-page--header
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-self: center;
  font-size: 28px;
  font-weight: 100;
  opacity: 0.6;
  color: green;
  text-align: center;
}

.explore-page--listings
{
  width: 55%;
}
