.listing-main
{
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgb(128, 128, 128, 0.4);
  box-sizing: border-box;
  padding-left: 8px;
  height: 250px;
  background-color: rgba(230, 234, 230, 0.1);
}
.listing-info
{
  display: flex;
  align-self: center;
}

.listing-main > a
{
  text-decoration: none;
  font-size: 18px;
  color: darkslategray;
  text-align: center;
  width: 100%;
}

.listing-image
{
  height: 195px;
  width: 300px;
  border: transparent 1px white;
  box-sizing: border-box;
  border-radius: 6px;
}

.listing-rate
{
  align-self: flex-end;
  padding: 8px;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(108, 161, 101);
}

.listing-description
{
  padding-left: 8px;
  text-align: center;
  width: 300px;
}

.listing-title
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.listing-minor--details
{
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.5;
  text-align: center;
}
