.splashy-image
{
  height: 400px;
  width: 1200px;
}

.splashy
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.splashy-title
{
  opacity: 0.6;
  color: green;
}
