.footer-container
{
  display: inline-block;
  align-content: center;
  margin-bottom: 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: sticky;
  bottom: 0;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.footer-title
{
  text-align: right;
  padding-right: 10px;
  margin: 10px;
  font-size: 17px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-title a
{
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
