.userReservations_container
{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}


.userReservations_container:hover
{
  background-color: rgb(147, 240, 163, 0.5);
  border-radius: 10px;
}


.userReservations_details
{
  display: flex;
  flex-direction: column;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 0 5px;
  text-align: center;
}

.userReservations_details > h5
{
 text-decoration: underline black 1px;

}


.userReservations_img
{
  height: 190px;
  width: 275px;
  margin: 0px 0px;
  border-radius: 10px;
}
