ul
{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}


li
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: inline-block;
}

.navbar-holder
{
  display: grid;
  grid-template-rows: 1;
  align-content: center;
  margin-top: 0;
  width: 100vw;
  background-color: rgba(173, 235, 173, 1);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  z-index: 5;
}




.navbar-links a
{
  text-decoration: none;
  font-style: normal;
  color: darkslategray;
  font-size: 1.2em;
  justify-content: space-around;
  padding: 8px;
}




.navbar-links--logo a
{
  font-size: 1.5em;
  font-stretch: extra-expanded;
  text-decoration: none;
  font-weight: bolder;
  font-style: normal;
  color:rgb(255, 244, 223);
}

.signup
{
  display: flex;
  justify-content: space-between;
}
