ul
{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}




li
{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
}

.navbar-holder
{
  display: grid;
  grid-template-rows: 1;
  align-content: center;
  margin-top: 0;
  width: 100vw;
  background-color: rgba(173, 235, 173, 1);
}

.navbar
{
  margin-top: 0;

}
